@tailwind base;
@tailwind components;
@tailwind utilities;

$--app-main-purple: hsl(270 67% 19%/.8);

body {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
    color: white;

    @apply bg-zinc-800;
}

input {
    color: black;
}

::-webkit-scrollbar {
    display: none;
}
